.reveal {    
    display: grid;
    grid-template-columns: auto 40%;
    grid-template-rows: 5vmin 1fr;
    grid-template-areas: 
            "cabecalho cabecalho"
            "conteudo conteudo"
}

section {
    align-self: center;
    grid-area: conteudo;
}

header {
    grid-area: cabecalho;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.2);
}







































/*
h1 {
    grid-area: cabecalho;
    text-align: left;
}


h1::before {
    content:"";
    background-image: url('../logo.svg');
    background-size: 0.8em 0.8em;
    display: inline-block;
    width: 0.8em ; 
    height: 0.8em ;
    margin-right: .5em;
}

hr{
    display: none;
}

section::after {
    grid-area: rodape;
    content: "Felipe Cezar";
    display: block;
}

section>*:not(h1){
    grid-area: conteudo;
}*/


